.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

/* Styling for the up array fixed position example */
#up-arrow {
position: fixed;
bottom: 40px;
right: 20px;
z-index: 9999;
cursor: pointer;
}

.uparrow {
width: 50px;
height: 50px;
}
#content-box {
margin: 0 10px;
border: 1px gainsboro solid;
border-radius: 10;
padding: 10px;
background-color: #f2f2f2;
height: 100vh;
}

#code-panel {
height: 50vh;
margin-top: 40px;
border: 3px #cccccc solid;
border-radius: 10;
/* background-color: #cccccc; */
height: 40vh;
position: fixed;
top: 20px;
right: 0;
left: 57%;
}

#code-panel textarea {
height: 39vh;
}

#output-panel {
margin-top: 3px;
border: 3px #cccccc solid;
border-radius: 10;
position: fixed;
height: 40vh;
position: fixed;
bottom: 56px;
right: 0;
left: 57%;
}

#output {
margin-top: 3px;
border: 3px #cccccc solid;
border-radius: 10;
position: fixed;
height: 40vh;
position: fixed;
bottom: 57px;
right: 0;
left: 57%;
}

/* flex-shrink: 0 on the footer element: to prevent it from shrinking and staying at the bottom of the page */

.footer-text {
padding-left: 35%;

}

