.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

#content-box {
    margin: 0 10px;
    border: 1px gainsboro solid;
    border-radius: 10;
    padding: 10px;
    background-color: #f2f2f2;
    height: 100vh;
}

#code-panel {
    height: 50vh;
    margin-top: 40px;
    border: 3px #cccccc solid;
    border-radius: 10;
    /* background-color: #cccccc; */
    height: 40vh;
    position: fixed;
    top: 20px;
    right: 0;
    left: 57%;
}

#code-panel textarea {
    height: 39vh;
}

#output-panel {
    margin-top: 3px;
    border: 3px #cccccc solid;
    border-radius: 10;
    position: fixed;
    height: 40vh;
    bottom: 56px;
    right: 0;
    left: 57%;
}

#output {
    margin-top: 3px;
    border: 3px #cccccc solid;
    border-radius: 10;
    position: fixed;
    height: 40vh;
    bottom: 57px;
    right: 0;
    left: 57%;
}

.example {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
#example-panel {
    height: 200px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 17px;
    margin: 10px 0;
    overflow-y: scroll;
}

/* Styling for the up array fixed position example */
#up-arrow {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

.uparrow {
    width: 50px;
    height: 50px;
}

html {
    height: 100%;
}

/* flex-direction to column: to make the header, main, and footer elements stack vertically.  */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* flex: 1 on the main element: to make it take up all the available space */
main {
    flex: 1;
}

/* flex-shrink: 0 on the footer element: to prevent it from shrinking and staying at the bottom of the page */

.footer-text {
    padding-left: 35%;
}

footer {
    flex-shrink: 0;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    margin: 5px 0;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.hidden-panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}