<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
    </title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- bootstrap page styles -->
    <link rel="stylesheet" href="/assets/css/jshome.css" />
    <!-- CSSflotPosDisp -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    {% if page.custom_css %} {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" />
    {% endfor %} {% endif %}
  </head>
  <body>
    <div class="nav-container">
      {% include sidebar.html %}

      <div id="main" class="main-content">{{ content }}</div>
    </div>

    <script src="{{ '/assets/js/script.js' }}"></script>
    <!-- bootstrap page -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Up Arrow Image -->
    <a href="#top" id="up-arrow"
      ><img
        class="uparrow"
        src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png"
        alt="Up Arrow"
    /></a>

    <!-- Angular page -->

    <script src="/assets/js/cart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.js"></script>
    <!-- Challenges -->
    <!-- Bootstrap JavaScript -->
    <script
      src="https://kit.fontawesome.com/c07fe14cf2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
